.page_header__logo_wrapper
    a.page_header__link(href="#")
        img.page_header__img(src="./images/icons/logo.svg" alt="Логотип Инк Хаус")
    a.page_header__name(href="#") 
        span Ink.House
nav.page_header__nav
    ul.page_header__nav-list 
        li.page_header__nav-item
            a.page_header__nav-link(href="#") Репродукции
        li.page_header__nav-item
            a.page_header__nav-link(href="#") Новинки
        li.page_header__nav-item
            a.page_header__nav-link(href="#") О нас
        li.page_header__nav-item
            a.page_header__nav-link.page_header__nav-link__cart(href="#")
                span.visually-hidden Корзина